.img{
    margin-left: 400px;
}
.imga{
    margin-left: 550px;
}
p,h2,h3{
    text-align: center;
    font-style: italic;
    color:green;
}
body{
    background-color:cyan;
  }
.header{
      text-align: center;
      color:red
  }